* {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: end;
    margin: 2em;
}

nav img {
    height: auto;
    width: 10em;
}